{% extends 'base.html' %}

{% block pagetitle %}Privacy Policy - Bookwire{% endblock %}
{% block content %}
  <h2>Privacy Policy</h2>
  <p>Bookwire is owned by Cedric Kim (email: <a href="mailto:hello@cedric.today">hello@cedric.today</a>).</p>
  <h3>Data collection</h3>
  <p>When you register on Bookwire, we collect your email address, a username of your choice, and a password of your choice. You can also choose to provide a first name and a last name. We also collect your IP address and count your visit.</p>
  <h3>Data sharing</h3>
  <p>Bookwire never shares your personal data. However, your visit adds to our visit count, which we may share publicly at any time. The visit count contains no personal data.</p>
  <h3>Data storage and retention</h3>
  <p>Data is stored on secure servers. Your password is 'hashed', meaning there is no way we can see it, but we can only check if the password you entered matches the password you set up. Data is retained indefinitely.</p>
  <h3>Cookies</h3>
  <p>Bookwire uses cookies to see if you're signed in or not.</p>
  <h3>Requesting data</h3>
  <p>You can request that your data is sent to you or removed at any time. However, we may need to retain some data for legal and security purposes.</p>
{% endblock %}