{% extends 'base.html' %}

{% block pagetitle %}Terms of Service - Bookwire{% endblock %}
{% block content %}
  <h2>Terms of Service</h2>
  <p>Bookwire allows use of the Bookwire service in a usual and reasonable manner. Bookwire does not permit uploading content without removing your local copy or getting permission from the author of the content. Unless you have permission from the author, you are only allowed to upload content that you have purchased. Any content that violates these rules will be removed from Bookwire. Bookwire and its contributors shall not be held liable on any violation of these rules. Also, to prevent borrowing more books than the limit, it is strictly forbidden to create duplicate accounts. Any duplicate accounts will be removed. Launching attacks on or penetrating Bookwire's security without permission from Bookwire is also strictly forbidden. This includes attempting to download, print, or otherwise copy content. These terms may change at any time.</p>
{% endblock %}